/* ============================================ */
/*             Grid Styles                      */
/* ============================================ */

.grid {
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}



