/* ============================================ */
/*            Searchbar Styling                 */
/* ============================================ */

input {
    margin: 80px;
    max-width: 800px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    display: block;
}

&:focus {
    background-color:green;
    border-radius: 50px;
}